/* Existing styles */
.header li a{
  font-size: 16px;
}
.sidenav {
  position: relative;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
 
}

/* Additional styles */
.sidenav.open {
  width: 450px;
  right: 0;
  background-color: white;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #0e0d0d;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #0e0d0d;
  cursor: pointer;
}

/* 
.body-overlay {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: .6;
    visibility: hiden;
}  */

.body-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  /* Set the background color and opacity */
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.body-overlay.visible {
  opacity: .5;
  visibility: visible;
}

/* dropdown */
/* Dropdown content */
.dropdown-content {
  background-color: white;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  /* Add a smooth transition effect */
}

.dropdown-content li {
  margin-top: 8px;

}

.dropdown-content li a {
  font-size: 15px;
}

.dropdown-content .cardWith {
  position: relative;
}

.dropdown-content .cardWith::before {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 9px;
  height: 3px;
  background-color: rgb(182, 15, 107);
  transition: right 0.6s ease, left 0.8s ease;
}

.dropdown-content .cardWith:hover::before {
  right: 88%;

}
.dropdown-content .cardWith p {
  transition: margin-left 0.6s ease;

}
.dropdown-content .cardWith:hover p {
  margin-left: 20px;
color: rgb(182, 15, 107);

}


/* When hovering over the dropdown, expand the content */
.dropdown:hover .dropdown-content {
  height: 340px;
  width: 200px;
  transition: height 2s ease;
  padding: 40px 30px;
}