.contact-image {
    background-color: rgb(248, 243, 243);
    box-shadow: 5px 10px 8px #888888;
    padding: 20px 7px 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-image .firstP {
    text-decoration: underline;
    font-size: 20px;
    color: gray;
    margin-top: 25px;
}

.contact-image .secondP {
    color: black;
    font-weight: 600;
    font-size: 25px;
}

.send {
    background-color: rgb(205, 39, 103);
}

.Australia .view-btn:hover {
    background-color: rgb(205, 39, 103);
    color: white;
}

/* media sreen section */
@media (max-width:1380px) {
    .Australia {
        display: flex;
    }
}

@media (max-width:1170px) {
    .contact-image .secondP {
        font-size: 16px;
    }

}

@media (max-width:1149px) {
    .Australia {
        display: block;
    }
}

@media (max-width:1024px) {
    .Australia {
        display: flex;
        padding: 0 30px;
        justify-content: space-around;
    }
    .contact-header h1{
        font-size: 40px;
     
    }
    .header-two{
        padding: 0 80px;
    }

}

@media (max-width:1020px) {
    .contact-image .secondP {
        font-size: 26px;

    }
}

@media (max-width:700px) {
    .contact-header h1 {
        font-size: 30px;
    }
}

@media (max-width:660px) {
    .header-two{
        padding: 0 10px;
    }

    .Australia {
       
        padding: 0 10px;
        display: block;
    }
}