.card-container:hover {
    border: none;
    box-shadow: 5px 10px 20px rgb(248, 226, 226);
}
.card-container:hover .icons {
    animation: bounce 0.6s;
    box-shadow: 5px 10px 20px white;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}



.card-details .cardP {
    position: relative;
}

.card-details .cardP::before {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    height: 3px;
    background-color: green;
    transition: right 0.3s ease;
   
}

.card-details .cardP:hover::before {
    right: 0;
}



  
  /* new about two csss conection */
  