.header-wishlist {
    background-color: gainsboro;
    padding: 170px 0;
}

.shopping-cart {
    background-color: gainsboro;
    width: 78em;
    margin: auto;
}
.image img{
    width: 120px;
    height: 120px;
   
}