
.button-container {
  position: relative;
}

.myDropdown {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.5s ease;
  /* Adjust the duration as needed */

  width: 200px;
  /* Set your desired width */
  opacity: 0;
}

.myDropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.myDropdown ul li {
  padding: 8px;
}

.myDropdown ul li:hover {
  color: #c30664;
  cursor: pointer;
}
.bg-red{
  color: #c30664;
}

.myDropdown.open {
  height: 140px;
  opacity: 1;
}

/* color header */
/* Define the background color for each class */
/* .color-header span{
  background: red;
  width: 40px;
  height:20px;
  border-radius: 50%;
  margin-right: 11px;
  padding-right: 6px;

} */
.color .g{
 
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

/* reset btn */
.reset{
  background-color: #c30664;
  color: white;

}
