.bgColor{
    background-color: rgb(109, 177, 237);
    width: 1100px;
}

.pad{
    background-color: rgb(225, 231, 236);
    width: 1100px;
}
.payment-last-div{
    background-color: white;
}
.last-div h1{
    font-weight: 600;
}