@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* header section */
#check:checked~ul {
  left: 0;
}

.header li a {
  font-size: 20px;
}

/* navber section */
.navberColor {
  background-color: var(--tp-grey-17);
}

/* one section */
.mySwiper {
  padding: 10px;
}



/* four section */
.image img {
  width: 400px;
  height: 300px;
}

.fourPtag {
  border: 1px solid rgb(208, 182, 182);
  border-radius: 50%;
  padding: 20px;
  margin-right: 11px;
  font-size: 1.9rem;
}


/* five secetion */
.double input:focus {
  outline: none;

}



/* five section */

/* footer section */
.foter p {
  padding: 2px;
  color: gray;
}

/* global left border */
.global {
  border-left: 2px solid red;
}

/* media query section */
/* Apply styles for screens with a maximum width of 500px */
/* @media (max-width: 500px) {
  .head {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .iphone {
    font-size: 10px;
  }

  .image {
    display: none;
  }
} */


/* Two cart section */
/* 
.product {
  position: relative;
}

.image-content {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease, bottom 0.3s ease;
  width: 100%;
}


.add_to_cart {
  background-color: rgb(9, 9, 9);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color .5s;
  font-weight: 600;
}

.add_to_cart:hover {
  background-color: rgb(205, 39, 103);
  display: flex;
  justify-content: center;
  justify-items: center;

}

.hovered-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  position: relative;
}

.product:hover .hovered-image {
  transform: scale(1.1);

}

.product:hover .leftDrawer{
  margin-left: 290px;
  transform: translatex(-50%);
  color: rgb(205, 39, 103);
}
.leftDrawer p:hover{
  background-color: rgb(205, 39, 103);
  color: white;
  
}

.product:hover .overlay {
  display: block;
}

.product:hover .overlay {
  transform: translateX(-50%) translateY(-40px);

}

/* leftDrawer section */
/* .leftDrawer {
  position: absolute;
  margin-top: -300px;
  margin-left: 320px;
  transition: transform 0.3s ease-in-out, right 0.4s ease;

}
.leftDrawer p{
  background-color: white;
  padding: 5px;

}

.text {
  display: none;
  font-size: 12px;
  position: absolute;
  background-color: rgb(205, 39, 103);
  color: white;
  left: -150px;
  margin-top: -32px;
  text-align: center;
  width: 130px;
  z-index: 1;
 
}

.icon:hover + .text {
  display: block;
  color: white;
}

.text::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 120px;
  border-width: 12px 20px 14px 20px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(205, 39, 103);

}  */

/* shopping-cart-length */
.shopping-cart-length {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(205, 39, 103);
  font-weight: 500;
}

/* sign up section */
.signUp {
  background-color: rgb(205, 39, 103);
}

.signUp:hover {
  background-color: rgb(16, 15, 16);
}

.login {
  background-color: white;
  box-shadow: 5px 8px 30px rgb(231, 211, 211);
}

/* five section media query */
@media (max-width:1024px) {
  .double{
    background: red;
    height: 250px;
  }
  .double h1{
    font-size: 20px;
  }
  .double input {
    border: 1px solid;
   }
  .double button {
    text-align: center;
    width: 180px;
    margin-top: 20px;
    font-weight: 600;
  }
}
@media (max-width:768px) {
  .double{
    background: wheat;
    margin-top: -330px;
    height: auto;

  
  }
  .double button {
    text-align: center;
    width: 180px;
    margin-top: 20px;
    font-weight: 600;
  }
  .double input {
   border: 1px solid;
  }
}
